.project {
    display: flex;
    /* justify-content: center;
    padding: 4rem 3rem;
    border-radius: 3px; */
}

/* .project_info {
    padding-right: 2rem;
    max-width: 545px;
} */

.project_title {
    font-size: 3rem;
    font-family: "Anton", sans-serif;
    line-height: 85%;
    letter-spacing: -0.015em;
    text-align: left;
    margin: 0;
}

.project_role {
    font-weight: 100;
    font-size: 1.5rem;
}

.project_summary {
    margin-top: 2rem;
}

.project_links a {
    background-color: var(--accentColor);
    padding: 0.5rem;
    border-radius: 3px;
    /* transition: font 0.3s ease-out; */
}