.techstack__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
}

.techstack__listitem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
  min-width: 4.5rem;
  min-height: 4.5rem;
}

.techstack__listitem p {
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 1.1;
  text-align: center;
  max-width: 4rem;
}

.techstack__listitem svg {
  fill: var(--popColour);
  height: 2rem;
}
